body {
  background-color: black;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
